body{
  background: darkgray;
}

#headShot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

h1{
    font-size: 25px;
    text-align: center;
}

h2{
    font-size: 15px;
    margin: 0 2px 0 2px;
    text-align: center;
}


p{
  font-size: 20px;
}

#project-box{
  text-align: center;
  height: 300px;
  width: 25%;
  border-style: groove;
  float: left;
  margin-left: 6%;
}

#project-picture{
  height: 40%;
  width: 100%;

}

#skills-used{
  font-size: 10px;
  /* font-size: 0.9vw; */
  text-align: left;
  height: 15px;
}

#in-work{
  font-size: 10px;
}

#deployment{
  font-size: 10px;
  /* font-size: 0.9vw; */
  text-align: left;
  margin-top: 0px;
}


#about-title{
  color: black;
  
}

#about-box{
  border-style: groove;
  height: 130px;
  /* width: 880px; */
  width: 98%;
  word-wrap: break-word;
  /* white-space: pre-wrap; */
  text-overflow: clip;
}

#displayButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sideBox{
  width: 20%;
  height: 100%;
  margin-left: -10px;
  margin-top: -10px;
  background: lightgray;
  position: fixed;
  float: left; 
}

#resume-box{
  margin-left: 12.5%;
  padding: 10px;
  font-size: 25px; 
  width: 75%;
  background:white;
  border-style: groove;
}

#resume-headshot{
  text-align: center;
  margin-left: 41%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#headShot{
  width: 80%;  
}

#education-title{
  font-size: 25px;
}

#education{
  font-size: 20px;
}

#work-title{
  font-size: 25px;
}

#work{
  font-size: 20px;
}

#company{
  font-size: 25px;
}

#role{
  font-size: 20px;
}

#role-description{
  font-size: 18px;
}

#icon-box{
  text-align: center;
  font-size: 35px;
}

#contact-me{
  text-align: center;
}

#copyright{
  text-align: center;
}

/* .pictureBox{
    length: 200px;
    width: 100px;
    float: left;
    background: purple;
}

img{
    length: 200px;
    width: 300px;
    position: relative;
} */

.mainBox {
    width: 79%;
    height: 100%;
    overflow: auto;
    float: right;
}

#scrollBox{
  
  height: 700px;;
  width:78%;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#back-button{
  margin-top: 10px;
  margin-left: 45%;
  /* width: 100px;
  height: 50px; */
  width: 10%;
  height: 5%;
  border-radius: 15%;
  font-size: 20px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* bounce animation */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Front page */
#wdp{
    float: left;
    font-size: 50px;
    color: white;
    z-index: 10;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; 
}

#mp{
    float: left;
    font-size: 50px;
    color: white;
    z-index: 10;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; 
}

.half-box1{
    width: 50%;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 25%;
    z-index: 10
}

.half-box2{
    width: 50%;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 25%;
    z-index: 10
}

/* Ambient background */

/* html, body{
	width:100%; 
	height:100%; 
	padding:0px; 
	margin:0px;
	overflow: hidden;
	background: #191d1e; /* Old browsers */
	background: -moz-linear-gradient(0deg,  #191d1e 50%, #283139 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* IE10+ */
	background: linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed
}

#projector {
  position: absolute; 
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
} 

.center-div {
	width:580px;
    height:374px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -290px;
    margin-top:  -187px;
}

#preloaderDiv
{
	position:absolute;
	left:50%;
    top:50%;
    margin-left: -27px;
    margin-top:  -27px;
}

#logo{
	opacity:0;
    filter: alpha(opacity=0);
}

#date2014
{
	position:absolute;
	padding-left: 210px;
	padding-top:15px;
	opacity:0;
	top:303px;
	left:0;
    filter: alpha(opacity=0);
} */
/* Paint splash */
.circle {
    /* display:none; */
    /* position: absolute;
    top: 100px;
    left: 100px;
    z-index: 9;
    background: #f49b21;
    border-radius: 50%;
    height: 320px;
    width: 320px;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; */
  }
  .content {
    /* position: relative;
    top: 50px;
    width: 100%;
    text-align: center;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.0s;
    animation-duration: 1.0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.5s; */
  }
  .splatter {
    position: absolute;
    top: 90px;
    left: 330px;
    z-index: 0;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; 
  }
  
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }