/* body{
  background: darkgray;
} */

#main-page{
  background: black;
 
  width: 100%;
  height: 100%;
}

#headShot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

h1{
    font-size: 25px;
    text-align: center;
}

h2{
    font-size: 15px;
    margin: 0 2px 0 2px;
    text-align: center;
}


p{
  font-size: 20px;
}

#project-box{
  color: #A4A4A4;
  text-align: center;
  height: 300px;
  width: 25%;
  border-style: groove;
  float: left;
  margin-left: 6%;
  overflow: scroll;
  z-index: 100;
}

#project-picture{
  height: 40%;
  width: 100%;
  z-index: 100;

}

#skills-used{
  font-size: 10px;
  /* font-size: 0.9vw; */
  text-align: left;
  height: 15px;
}

#in-work{
  font-size: 10px;
}

#deployment{
  font-size: 10px;
  /* font-size: 0.9vw; */
  text-align: left;
  margin-top: 0px;
}


#about-title{
  color: #BDBDBD;
  z-index: 100;
}

#about-box{
  color:#BDBDBD;
  border-style: groove;
  height: 140px;
  /* width: 880px; */
  width: 98%;
  /* word-wrap: break-word; */
  overflow: scroll;
  text-overflow: clip;
  z-index: 100;
}

#displayButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sideBox{
  width: 20%;
  height: 101%;
  margin-left: -10px;
  margin-top: -10px;
  background: lightgray;
  position: fixed;
  float: left; 
  z-index: 100;
}

#resume-box{
  margin-left: 12.5%;
  padding: 10px;
  font-size: 25px; 
  width: 75%;
  background:white;
  border-style: groove;
}

#resume-headshot{
  text-align: center;
  margin-left: 41%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#headShot{
  width: 80%;  
}

#education-title{
  font-size: 25px;
}

#education{
  font-size: 20px;
}

#work-title{
  font-size: 25px;
}

#work{
  font-size: 20px;
}

#company{
  font-size: 25px;
}

#role{
  font-size: 20px;
}

#role-description{
  font-size: 18px;
}

#icon-box{
  text-align: center;
  font-size: 35px;
}

#contact-me{
  text-align: center;
}

#copyright{
  text-align: center;
}

/* .pictureBox{
    length: 200px;
    width: 100px;
    float: left;
    background: purple;
}

img{
    length: 200px;
    width: 300px;
    position: relative;
} */

.mainBox {
    width: 79%;
    height: 100%;
    overflow: auto;
    float: right;
    z-index: 100;
}

#scrollBox{
  height: 100%;
  width:78%;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  z-index: 100;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#back-button{
  margin-top: 10px;
  margin-left: 45%;
  /* width: 100px;
  height: 50px; */
  width: 10%;
  height: 5%;
  border-radius: 15%;
  font-size: 20px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* bounce animation */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Stars */
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

/* url: http://www.script-tutorials.com/demos/360/images/stars.png */
.stars {
background:#000 url(images/stars.png) repeat top center;
z-index:0;
}

/* url: http://www.script-tutorials.com/demos/360/images/twinkling.png */
.twinkling{
background:transparent url(images/twinkling.png) repeat top center;
z-index:1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

/* url: http://www.script-tutorials.com/demos/360/images/clouds3.png */
.clouds{
  background:transparent url(images/clouds.png) repeat top center;
  z-index:3;

-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}
/* ------------------------------ */
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }